<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="edu.eci.pdsw.persistence.impl.mappers.PacienteMapper">
    

        
    <select parameterType="map" id="loadPacienteByID" resultMap="PacienteResult">

    </select> 
    <select parameterType="map" id="loadPacientes" resultMap="PacienteResult">
        select
    
    p.id ,
    p.tipo_id ,
    p.nombre ,
    p.fecha_nacimiento ,
    e.nombre as detalle_nombre,
    e.nit as detalle_nit,
    c.idCONSULTAS as idCONSULTAS, 
    c.fecha_y_hora as fecha_y_hora,
    c.resumen as resumen,
    c.costo as costo FROM  CM_PACIENTES as p left join CM_CONSULTAS as c on p.id=c.PACIENTES_id left join CM_EPS as e on p.eps_nit=e.nit where p.id=12313
    </select>

    <resultMap type='Paciente' id='PacienteResult'>
            <id property='id' column='id'/>
            <id property='tipoId' column='tipo_id'/>
            <result property='nombre' column='nombre'/>  
            <result property='fechaNacimiento' column='fecha_nacimiento'/>
                         
            <association property="id" javaType="Eps"></association>     
            <collection property='id' ofType='Consulta' columnPrefix='detalle_'></collection>
                 
    </resultMap>
    <resultMap type='Eps' id='IdEps'>
        <id property='nit' column='propiedad6'/>
        <result property='nombre' column='propiedad5'/>
    </resultMap> 
        
    <resultMap type='Consulta' id='IdConsulta'>
        <id property='id' column='id'/>
        <result property='fechayHora' column='idCONSULTAS'/>
        <result property='resumen' column='nombre'/> 
        <result property='costo' column='fecha_y_hora'/>      	    
    </resultMap>
    
  



                
</mapper>
